// Functions ===================================================================================================================

//%
@function prc($pxOne, $pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}

//REM
@function rem($px) {
  $result: math.div($px, 14) + rem;
  @return $result;
}

//EM
@function em($px) {
  $result: math.div($px, 14) + em;
  @return $result;
}

// Default Font ===================================================================================================================
$fontFamily: "Open Sans", sans-serif;
$fontSize: 14px;

// Widths ===================================================================================================================
$maxContWidth: 1050 + 30;

// Global styles ===================================================================================================================

html{
  //font-size: 16px;
}

.container {
  max-width: $maxContWidth + px;
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (max-width: 950px) {
    padding: 0 10px;
    max-width: 768px;
  }
}

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: #252B42;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
}
